{{ ansible_managed | comment }}

[Unit]
Description=Loki
After=network-online.target

[Service]
Type=simple
User=loki
Group=loki
ExecStart=/usr/local/bin/loki \
  --config.file={{ loki_config_dir }}/loki.yml

ReadWritePaths={{ loki_data_dir }}

PrivateUsers=true
ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict

SyslogIdentifier=loki
Restart=always

[Install]
WantedBy=multi-user.target
